#root
  background-image url("../../content/greeting_map.png")
  background-size cover
  background-repeat no-repeat
  min-height 100vh
.Root
  position fixed
  top 0
  left 0
  right 0
  bottom 0

.Login
  position relative
  top 0
  left 0
  right 0
  bottom 0
  display flex
  justify-content center
  align-items center
  &__card
    padding 1em
  &__button
    width 100%
  .LoginComponent
    &__control-panel
      display flex
      flex-direction column
      justify-content space-between
      align-items center
    &__sign-up-link
      text-align center
      margin 0
      padding 1em
    &__logo
      display block
      width 100px
      margin 0 auto